#second {
  border-top: 2px solid white;
  background: white;
  width: 100%;
  position: relative;
  height: auto;
  background: linear-gradient(to bottom, rgba(103, 178, 111, .4), rgba(76, 162, 205, .4));

    .gallery {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: row;

        .gallery__img {
          width: 100px;
          height: auto;
          align-self: center;
          margin: 10px 10px 0 10px;
        }
    }
}
