#second {

    .gallery {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: row;

        .gallery__img {
          width: 100px;
          height: auto;
          align-self: center;
          margin: 10px 10px 0 10px;
        }
    }
}
