#map {
  display: none;
  height: 400px;
  width: 100%;
  opacity: .5;
}

#map-control {
  display: none;

  h3 {
    text-align: center;
  }

  .map-control__icons {
    display:flex;
    flex-direction: row;
    justify-content: center;

    div {
      margin: 30px 7% 20px 7%;
      text-align: center;

      p {
        display: none
      }
    }
  }
}

#second {
  border-top: 2px solid white;
  width: 100%;
  position: relative;
  height: auto;
  background: linear-gradient(to bottom, rgba(103, 178, 111, .5), rgba(76, 162, 205, .5));

  .section__content {
    margin-top: 50px;

    h3 {
      margin-top: 40px;
    }

    p {
      color: white;
      font-weight: 600;
    }

    .section__content-description {
      display: flex;
      justify-content: center;
      padding-bottom: 70px;
      p {
        margin-right: 20px;
        margin-left: 20px;
      }

      .icon_show-map {
        align-self: center;
        margin-right: 20px;
        text-align: center;

        img {
          margin-bottom: 20px;
          width: 70px;
          height: auto;
        }

        .btn-map {
          background-color: rgba(0, 0, 0, 0);
          border: 1.5px solid rgb(41, 128, 185);
          width: 100px;
          height: 30px;
          color: rgb(41, 128, 185);
          font-weight: 600;
          border-radius: 100px;
          transition: 0.2s linear;
        }

        .btn-map:hover {
          background: linear-gradient(to right, rgba(103, 178, 111, .4), rgba(76, 162, 205, .4));
          background: -webkit-gradient(to right, rgba(103, 178, 111, .4), rgba(76, 162, 205, .4));
          background: -webkit-linear-gradient(to right, rgba(103, 178, 111, .4), rgba(76, 162, 205, .4));
          background: -moz-linear-gradient(to right, rgba(103, 178, 111, .4), rgba(76, 162, 205, .4));
          color: white;
        }

      }
    }
  }
}
