* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    @import url('https://fonts.googleapis.com/css?family=Open+Sans');
    src: url("../fonts/Raleway-Medium.otf");
}

html, body {
    height: auto;
    width: 100vw;
    overflow-x: hidden;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

@import "admin_partials/__adm-navbar.scss";
@import "admin_partials/__adm-content.scss";
@import "admin_partials/__adm-reservations.scss";
