@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

@font-face {
  src: url("../fonts/Raleway-Medium.otf"); }

html, body {
  height: auto;
  width: 100vw;
  overflow-x: hidden;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif; }

/* NAVBAR DESKTOP */
.navbar-main {
  position: fixed;
  z-index: 5;
  display: none;
  height: 70px;
  width: 100%;
  align-items: center;
  transition: all 0.3s linear; }
  .navbar-main ul li {
    display: inline;
    float: right;
    margin: 0 1% 0 1%; }
  .navbar-main ul {
    width: 100%;
    margin-right: 250px;
    list-style-type: none;
    padding: 0; }
  .navbar-main li a {
    display: block;
    font-family: 'Raleway', sans-serif;
    /*font-weight: 500;*/
    /*font-size: 19px;*/
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: relative;
    text-decoration: none;
    color: white; }
  .navbar-main li a:after {
    content: " }";
    opacity: 0;
    position: absolute;
    right: -10px;
    transition: opacity 300ms ease-in-out; }
  .navbar-main li a:before {
    content: "{ ";
    opacity: 0;
    position: absolute;
    left: -10px;
    transition: opacity 300ms ease-in-out; }
  .navbar-main li a:hover:before {
    opacity: 1; }
  .navbar-main li a:hover:after {
    opacity: 1; }

.navbar-collapse {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 10;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */ }
  .navbar-collapse ul {
    width: 100%;
    transition: 1s ease-out;
    height: 400px;
    text-align: center;
    margin-top: 50px; }
  .navbar-collapse .fa.fa-times {
    left: calc(50% - (47.16px/2));
    font-size: 60px;
    position: absolute; }
  .navbar-collapse li {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: white;
    color: black;
    font-size: 1.1rem;
    align-items: center;
    justify-content: center; }
  .navbar-collapse li:hover {
    height: 70px;
    background-color: rgba(255, 255, 255, 0.9); }
  .navbar-collapse a {
    color: black;
    text-decoration: none; }

/* HAMBURGER */
.fa.fa-bars {
  position: absolute;
  z-index: 5;
  top: 5px;
  right: 10px;
  font-size: 50px;
  color: white; }

/* HEADER DESKTOP */
header {
  height: 100vh;
  position: relative;
  border-bottom: 2px solid white; }
  header .header__text {
    margin: 0;
    position: absolute;
    z-index: 4;
    top: 58%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  header .header__text p {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: white; }
  header .bg-img {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(103, 178, 111, 0.4), rgba(76, 162, 205, 0.4)), url("../Arboretum2.jpg");
    background-size: cover;
    background-position: 30% 50%; }
  header .header__arrows {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center; }
    header .header__arrows :first-child {
      color: white;
      font-size: 25px;
      -moz-animation: bounce 2s infinite;
      -webkit-animation: bounce 2s infinite;
      animation: bounce 2s infinite; }
      header .header__arrows :first-child a {
        display: block; }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-30px); }
  60% {
    transform: translateY(-15px); } }

#first {
  border-top: 2px solid white;
  background: white;
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column; }
  #first .single__cost {
    display: flex;
    margin: 70px auto;
    justify-content: center; }
    #first .single__cost .costs_icon {
      width: 80px;
      height: auto;
      align-self: center;
      margin-right: 20px;
      margin-left: 20px; }
    #first .single__cost .single__cost-text {
      width: 60%;
      margin-left: 30px;
      margin-right: 25px; }

#fourth {
  position: relative;
  background: linear-gradient(to bottom, rgba(103, 178, 111, 0.5), rgba(76, 162, 205, 0.5));
  height: auto;
  text-align: center; }
  #fourth .slider {
    border: 0; }
    #fourth .slider div {
      width: 100vw !important;
      position: relative;
      height: 400px;
      text-align: center; }
      #fourth .slider div img {
        width: 250px;
        height: auto;
        margin: 30px auto;
        border-radius: 10px; }
      #fourth .slider div p {
        font-weight: 600;
        color: white;
        margin-bottom: 10px; }
  #fourth .bx-wrapper {
    border: none;
    background: transparent; }
  #fourth #photos {
    height: 100%;
    line-height: 0;
    -webkit-column-count: 5;
    -webkit-column-gap: 0px;
    -moz-column-count: 5;
    -moz-column-gap: 0px;
    column-count: 5;
    column-gap: 0px; }
    #fourth #photos img {
      width: 90% !important;
      height: auto !important;
      margin: 5px 5px 5px 5px;
      transition: all 0.5s; }
    #fourth #photos img:hover {
      width: 94% !important; }

.triangle__right-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 60px 50vw;
  border-color: transparent transparent white transparent; }

.triangle__left-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 60px 0 0 50vw;
  border-color: transparent transparent transparent white; }

.triangle__top {
  margin: 0 auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 60px 50vw 0 50vw;
  border-color: white transparent transparent transparent;
  /*z-index: 10;*/
  /*position: absolute;*/ }

.section__header {
  margin-top: 15px;
  width: 100%;
  text-align: center; }

.section__header h2 {
  color: #2980b9;
  font-size: 25px;
  font-family: 'Raleway', sans-serif; }

.section__header hr {
  width: 100px;
  height: 3px;
  border: 2px solid #2980b9;
  background: #2980b9;
  margin: 10px auto; }

#map {
  display: none;
  height: 400px;
  width: 100%;
  opacity: .5; }

#map-control {
  display: none; }
  #map-control h3 {
    text-align: center; }
  #map-control .map-control__icons {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    #map-control .map-control__icons div {
      margin: 30px 7% 20px 7%;
      text-align: center; }
      #map-control .map-control__icons div p {
        display: none; }

#second {
  border-top: 2px solid white;
  width: 100%;
  position: relative;
  height: auto;
  background: linear-gradient(to bottom, rgba(103, 178, 111, 0.5), rgba(76, 162, 205, 0.5)); }
  #second .section__content {
    margin-top: 50px; }
    #second .section__content h3 {
      margin-top: 40px; }
    #second .section__content p {
      color: white;
      font-weight: 600; }
    #second .section__content .section__content-description {
      display: flex;
      justify-content: center;
      padding-bottom: 70px; }
      #second .section__content .section__content-description p {
        margin-right: 20px;
        margin-left: 20px; }
      #second .section__content .section__content-description .icon_show-map {
        align-self: center;
        margin-right: 20px;
        text-align: center; }
        #second .section__content .section__content-description .icon_show-map img {
          margin-bottom: 20px;
          width: 70px;
          height: auto; }
        #second .section__content .section__content-description .icon_show-map .btn-map {
          background-color: transparent;
          border: 1.5px solid #2980b9;
          width: 100px;
          height: 30px;
          color: #2980b9;
          font-weight: 600;
          border-radius: 100px;
          transition: 0.2s linear; }
        #second .section__content .section__content-description .icon_show-map .btn-map:hover {
          background: linear-gradient(to right, rgba(103, 178, 111, 0.4), rgba(76, 162, 205, 0.4));
          background: -webkit-gradient(to right, rgba(103, 178, 111, 0.4), rgba(76, 162, 205, 0.4));
          background: -webkit-linear-gradient(to right, rgba(103, 178, 111, 0.4), rgba(76, 162, 205, 0.4));
          background: -moz-linear-gradient(to right, rgba(103, 178, 111, 0.4), rgba(76, 162, 205, 0.4));
          color: white; }

#third {
  height: auto;
  position: relative; }
  #third .section__content {
    text-align: center; }
    #third .section__content .section__content-description {
      margin-top: 20px;
      margin-bottom: 20px;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      line-height: 22px;
      background-image: linear-gradient(to right, #67b26f, #4ca2cd);
      font-weight: 600; }
    #third .section__content .reservation-form {
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      width: 300px;
      height: 300px;
      justify-content: center; }
      #third .section__content .reservation-form select, #third .section__content .reservation-form input {
        margin: 20px 20px 0 20px;
        background: linear-gradient(to bottom, rgba(103, 178, 111, 0.3), rgba(76, 162, 205, 0.3));
        border: 2px solid rgba(41, 128, 185, 0.6);
        border-radius: 20px;
        height: 35px;
        width: 100%;
        text-align: center; }
      #third .section__content .reservation-form select[name="day"], #third .section__content .reservation-form select[name="month"] {
        margin-top: 0;
        width: 20%;
        flex: 1 1; }
        #third .section__content .reservation-form select[name="day"] option, #third .section__content .reservation-form select[name="month"] option {
          background: rgba(103, 178, 111, 0.3);
          border: none; }
      #third .section__content .reservation-form ::-webkit-input-placeholder {
        color: rgba(0, 0, 0, 0.6); }
      #third .section__content .reservation-form p {
        height: 0;
        margin-right: 55px;
        margin-left: 45px; }
    #third .section__content .resp-message {
      font-weight: 600;
      color: rgba(41, 128, 185, 0.6);
      transition: all 0.5s; }
    #third .section__content .choose-hour {
      color: rgba(41, 128, 185, 0.6);
      font-weight: 600;
      margin-bottom: 20px; }
    #third .section__content .hoursDiv {
      display: flex;
      justify-content: center; }
      #third .section__content .hoursDiv p {
        margin: 0 10px 0 10px;
        color: rgba(41, 128, 185, 0.6);
        font-weight: 600; }
        #third .section__content .hoursDiv p .active {
          color: #2980b9;
          font-size: 1.1rem; }
    #third .section__content .btn-outline {
      background-color: transparent;
      border: 1.5px solid #2980b9;
      width: 100px;
      height: 30px;
      color: #2980b9;
      font-weight: 600;
      border-radius: 100px;
      transition: 0.2s linear;
      margin-top: 20px;
      margin-bottom: 35px; }
      #third .section__content .btn-outline:hover {
        background: linear-gradient(to right, rgba(103, 178, 111, 0.4), rgba(76, 162, 205, 0.4));
        background: -webkit-gradient(to right, rgba(103, 178, 111, 0.4), rgba(76, 162, 205, 0.4));
        background: -webkit-linear-gradient(to right, rgba(103, 178, 111, 0.4), rgba(76, 162, 205, 0.4));
        background: -moz-linear-gradient(to right, rgba(103, 178, 111, 0.4), rgba(76, 162, 205, 0.4));
        color: white; }

#fifth {
  border-top: 2px solid white;
  background: white;
  width: 100%;
  position: relative;
  height: auto; }
  #fifth .section__content-description {
    color: white;
    font-weight: 600;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 22px;
    background-image: linear-gradient(to right, #67b26f, #4ca2cd); }
