.months-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 150px 150px 150px;
    align-self: center;
    justify-content: center;
    grid-row-gap: 5ch;
    // align-items: center;

    div {
        h3 {
            color: #2980b9;
        }
    }
}

.popup {
    position: absolute;
    z-index: 5;
    opacity: 0;
    bottom: 0;
    left: -50%;
    right: 0;
    top: 10%;
    width: 70%;
    min-height: 500px;
    background: rgba(255, 255, 255, .93);
    margin: 0 auto;

    i {
        font-size: 35px;
        cursor: pointer;
        float: right;
        transition: all 0.3s;

        &:hover {
            color: #2980b9;
        }
    }

    table {
        width: 100%;

        th {
            text-align: center;
            padding-bottom: 15px;
        }

        td {
            text-align: center;
            padding-bottom: 15px;
        }
    }
}
