* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: auto;
    width: 100vw;
    overflow-x: hidden;
    font-size: 16px;
}

@font-face {
    font-family: 'Raleway', sans-serif;
    src: url("../fonts/Raleway-Medium.otf");

}

/* NAVBAR */

nav {
    position: fixed;
    z-index: 5;
    display: flex;
    height: 70px;
    width: 100%;
    align-items: center;
    transition: all 0.3s linear;
}

nav ul {
    width: 100%;
    margin-right: 250px;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    float: right;
    margin: 0 1% 0 1%;
    color: white;
}

nav li a {
    display: block;
    font-family: 'Raleway', sans-serif;
    /*font-weight: 500;*/
    /*font-size: 19px;*/
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: relative;
    text-decoration: none;
    color: white;
}

nav li a:after {
    content: " }";
    opacity: 0;
    position: absolute;
    right: -10px;
    transition: opacity 300ms ease-in-out;
}

nav li a:before {
    content: "{ ";
    opacity: 0;
    position: absolute;
    left: -10px;
    transition: opacity 300ms ease-in-out;
}

nav li a:hover:before {
    opacity: 1;
}

nav li a:hover:after {
    opacity: 1
}

/* NAVBAR COLLAPSE */

/* NAV FIXED SCROLL */
.scrolled {
    background: rgba(255, 255, 255, .9);
    color: black;
    border-bottom: none;
}

/* HEADER */
header {
    /*background: #0b58a2;*/
    height: 100vh;
    position: relative;
    /*width: 100vh;*/
    border-bottom: 2px solid white;
}

.header__text {
    margin: 0;
    position: absolute;
    z-index: 4;
    top: 58%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header__text p {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: white
}

.bg-img {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(103, 178, 111, .4), rgba(76, 162, 205, .4)), url("../../cedric-servay-138372.jpg");
    background-size: 100% 100%;
}

/* HEADER LOGO */

.header__logo {
    width: 100%;
}
.hexagon {
    position: absolute;
    width: 100px;
    height: 57.74px;
    background-color: #ffffff;
    margin: 28.87px auto;
    left: 0;
    right: 0;
    top: 30%;
}

.hexagon i.fa-building {
    position: absolute;
    top: 12%;
    left: 34.5%;
    right: 50%;
    font-size: 40px;
}

.hexagon i.fa-chevron-left {
    position: absolute;
    top: 30%;
    left: 9%;
    font-size: 25px;
}

.hexagon i.fa-chevron-right {
    position: absolute;
    top: 30%;
    right: 10%;
    font-size: 25px;
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}

.hexagon:before {
    bottom: 100%;
    border-bottom: 28.87px solid #ffffff;
}

.hexagon:after {
    top: 100%;
    width: 0;
    border-top: 28.87px solid #ffffff;
}

/* SECTIONS */
section {
    background: white;
    width: 100%;
    height: 25vh;
    position: relative;
}

/* FIRST SECT */
#first {
    border-top: 2px solid white;
}

.section__header {
    margin-top: 15px;
    width: 100%;
    text-align: center;
}

#first .section__header h2 {
    color: rgb(41, 128, 185);
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
}

#first .section__header hr {
    width: 100px;
    height: 3px;
    border: 2px solid rgb(41, 128, 185);
    background: rgb(41, 128, 185);
    margin: 10px auto;
}

#second {
    height: auto;
    min-height: 70vh;
    position: relative;
    background: transparent;
}

.img__left {
    background-image: url('../../aj_ms_54345_1.jpg');
    background-size: cover;
    box-shadow:inset 0 0 0 100vh rgba(0, 0, 0 , .5);
    height: auto;
    min-height: 70vh;
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
}

.img__right {
    background-image: url('../../26755535_1718373544893754_166893392_n.jpg');
    background-size: cover;
    box-shadow:inset 0 0 0 100vh rgba(0, 0, 0 , .5);
    height: auto;
    min-height: 70vh;
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -2;
}

.img__gradient {
    position: absolute;
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, .9), transparent);
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
}

.gallery {
    /*background: white;*/
    margin: auto;
    max-width: 700px;
    max-height: 400px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    position: absolute;
}

@media (min-width: 700px) {
    .gallery {
        top: -30px;
    }
}

.gallery__img {
    flex: 1 1 calc(100%/3);
    max-width: calc(100%/3);
}

/* SEPARATORS */

.triangle__right-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 190px 50vw;
    border-color: transparent transparent white transparent;

}

.triangle__left-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 190px 0 0 50vw;
    border-color: transparent transparent transparent white;

}

.triangle__top {
    margin: 0 auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 180px 50vw 0 50vw;
    border-color: white transparent transparent transparent;
    /*z-index: 10;*/
    /*position: absolute;*/

}
