.card-custom {
  overflow: hidden;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  min-height: 350px;
  position: relative;

  i {
    color: #c1c1c1;
  }

  .card-body {
    display: block;
    flex: 0;
  }

  &:hover {
    .card-custom-img::after {
      background-color: rgba(0, 0, 0, 0);
    }
  }
}

.card-custom-img {
  height: 100%;
  width: 100%;
  border-color: inherit;
  position: absolute;
  z-index: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

/* First border-left-width setting is a fallback */
.card-custom-img::after {
  top: 0;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 35, 255, .4);
  transition: 0.3s;
  z-index: 1;

}

.card-custom-avatar img {
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 100px;
  left: 1.25rem;
  width: 100px;
  height: 100px;
}

.card-footer {
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
  background: none;
}
