$Loader-color: map_get($color, primary);
$Loader-size: 14.6rem;
$Loader-offset: 1.1rem;
$Loader-timing: ease-in-out;

#loader {
  transition: all 1s;
}

.loader__overlay {
  position: absolute;
  z-index: $loader-z-index;
  background: rgba(255, 255, 255, .8);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  transition: all 1s;
}
.Loader {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: $Loader-size;
  //margin-top: $Loader-size/2;
  //margin-bottom: $Loader-size/2;
  &:before,
  &:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    animation-timing-function: $Loader-timing;
    filter: drop-shadow(0 0 $Loader-offset/2.25 rgba($Loader-color, 0.75));
  }
  &:before {
    width: 100%;
    padding-bottom: 100%;
    box-shadow: inset 0 0 0 $Loader-offset $Loader-color;
    animation-name: pulsA;
  }
  &:after {
    width: calc(100% - #{$Loader-offset}*2);
    padding-bottom: calc(100% - #{$Loader-offset}*2);
    box-shadow: 0 0 0 0 $Loader-color;
    animation-name: pulsB;
  }
}

@keyframes pulsA {
  0% { box-shadow: inset 0 0 0 $Loader-offset $Loader-color; opacity: 1; }
  50%, 100% { box-shadow: inset 0 0 0 0 $Loader-color; opacity: 0; }
}

@keyframes pulsB {
  0%, 50% { box-shadow: 0 0 0 0 $Loader-color; opacity: 0; }
  100% { box-shadow: 0 0 0 $Loader-offset $Loader-color; opacity: 1; }
}