.form-group {
  margin: 20px 0 20px 0;
}

#sidebar__filters {
  position: absolute;
  top: 15px;
  left: 0px;
  background: white;
  box-shadow: none;
  z-index: 1001;
  padding: 30px;
  width: calc(100vw - 50px);
  transition: transform 0.3s;
  transform: translateX(-100%);

  .filters__toggler {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    right: -45px;
    background: map_get($color, primary);
    color: white;
    top: 0;
    width: 45px;
    height: 45px;
    border-left: none;
    z-index: 1002;
    box-shadow: 5px 0px 10px 0px rgba(0,0,0,0.3);
    cursor: pointer;

    @media screen and (min-width: 720px) {
      z-index: calc(#{$left-sidebar-z-index + 1});
    }
  }



  @media screen and (min-width: 720px) {
    z-index: calc(#{$left-sidebar-z-index - 1});
    width: 400px;
    left: $left-sidebar-width;
    transform: translateX(-100%);
  }

  &.is-active {
    transform: translateX(0);
    box-shadow: 5px 0px 10px 0px rgba(0,0,0,0.3);
    //z-index: calc(#{$left-sidebar-z-index});
  }
}