.form-group {
  margin: 20px 0 20px 0;
}

#sidebar__filters {
  position: absolute;
  top: 15px;
  left: 0px;
  background: white;
  box-shadow: none;
  z-index: 1001;
  padding: 30px;
  width: calc(100vw - 50px);
  transition: transform 0.3s;

  .filters__toggler.--mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    right: -30px;
    background: map_get($color, primary);
    color: white;
    top: 0;
    width: 30px;
    height: 30px;
    border-left: none;
    z-index: 1002;
    box-shadow: 5px 0px 10px 0px rgba(0,0,0,0.3);
    cursor: pointer;
  }

  transform: translateX(-100%);

  &.is-active {
    transform: translateX(0);
    box-shadow: 5px 0px 10px 0px rgba(0,0,0,0.3);
  }
}